:root {
  --card-header-color: black;
  --card-text-size: 16px;
  --card-text-color: #333;
  --card-background-color: #fff;
  --card-border-radius: 8px;
  --card-border-color: black;
  --card-border-width: 1px;
}

.card {
  border: var(--card-border-width) solid var(--card-border-color);
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}

.card__body h1,
.card__body h2,
.card__body h3,
.card__body h4,
.card__body h5,
.card__body h6 {
  color: var(--card-header-color);
}