.primary-colours {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }
}

.colour-box {
  min-height: 104px;
}

@media (width >= 900px) {
  .primary-colours {
    flex-direction: row;
    justify-content: space-between;

    ul {
      flex-direction: row;
      gap: 10px;
    }

    .col-1 {
      flex: 1 1 640px;
    }

    .col-2 {
      flex: 1 1 310px;
    }

    .col-3 {
      flex: 1 1 150px;
    }

    li {
      max-width: 150px;
      flex: 1 1 150px;
    }
  }
}