/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
    /* Colors Primary - OK - 1 query */
    --color-primary-light-purple: rgb(167 93 214 / 100%);
    --color-primary-light-purple-two: rgb(154 83 198 / 100%);
    --color-primary-light-purple-10: rgb(244 237 249 / 100%);
    --color-primary-dark-purple: rgb(43 28 69 / 100%);
    --color-primary-cream: rgb(255 236 212 / 100%);

    /* !!not in style guide */
    --color-purple: rgb(139 50 194 / 100%);

    /* Secondary - OK */
    --color-secondary-light-red: rgb(255 70 21 / 100%);
    --color-secondary-light-red-10: rgb(229 4 8 / 100%);
    --color-secondary-light-red-20: rgb(251 97 97 / 100%);
    --color-secondary-dark-red: rgb(224 49 0 / 100%);
    --color-secondary-light-green: rgb(63 182 92 / 100%);
    --color-secondary-dark-green: rgb(43 125 63 / 100%);
    --color-secondary-yellow: rgb(255 217 0 / 100%);
    --color-secondary-orange: rgb(253 153 65 / 100%);
    --color-secondary-blue: rgb(63 63 235 / 100%);
    --color-secondary-blue-10: rgb(57 57 211 / 100%);
    --color-secondary-blue-20: rgb(50 50 188 / 100%);
    --color-secondary-dark-blue: rgb(0 73 110 / 100%);
    --color-secondary-dark-red-10: rgb(182 40 0 / 100%);
    --color-secondary-dark-red-20: rgb(143 31 0 / 100%);

    /* Neutrals - OK - 1 query */
    --color-neutral-black: rgb(0 0 0 / 100%);
    --color-neutral-tundora: rgb(77 77 77 / 100%);
    --color-neutral-gray: rgb(115 115 115 / 100%);
    --color-neutral-gray-two: rgb(153 153 153 / 100%);
    --color-neutral-silver: rgb(186 186 186 / 100%);
    --color-neutral-silver-two: rgb(207 208 211 / 100%);
    --color-neutral-alto: rgb(224 224 224 / 100%);
    --color-neutral-light-gray: rgb(249 249 249 / 100%);
    --color-neutral-mid-gray: rgb(234 229 232 / 100%);
    --color-neutral-mid-gray-two: rgb(187 187 187 / 100%);
    --color-neutral-white: rgb(255 255 255 / 100%);

    /* !!not in style guide */
    --color-neutral-gray-light: rgb(255 255 255 / 30%);

    /* Typography */
    --body-font-family: "Inner Tight", sans-serif;
    --heading-font-primary-family: "Rebond Grotesque", sans-serif;
    --font-size-base: 1rem;
    --font-size-small: 0.875rem;
    --font-size-x-small: 0.75rem;
    --line-height-default: 150%;
    --line-height-s: 120%;
    --line-height-xs: 100%;

    /* Titles - same as headings? */
    --font-size-title-display-primary-xl: 4.5rem;
    --font-size-title-display-primary-l: 3.75rem;
    --font-size-title-display-primary-m: 3rem;
    --font-size-title-display-primary-s: 2.5rem;
    --font-size-title-display-secondary-xl: 4.5rem;
    --font-size-title-display-secondary-l: 3.75rem;
    --font-size-title-display-secondary-m: 3rem;
    --font-size-title-display-secondary-s: 2.5rem;
    --font-size-title-display-tertiary-xl: 5.125rem;
    --font-size-title-display-tertiary-l: 4.5rem;
    --font-size-title-display-tertiary-m: 3.75rem;
    --font-size-title-display-tertiary-s: 3rem;
    --font-size-title-semantic-primary-xxl: 2rem;
    --font-size-title-semantic-primary-xl: 1.75rem;
    --font-size-title-semantic-primary-l: 1.5rem;
    --font-size-title-semantic-primary-m: 1.25rem;
    --font-size-title-semantic-primary-s: 1.125rem;
    --font-size-title-semantic-primary-xs: 1rem;
    --font-size-title-semantic-secondary-xxl: 2rem;
    --font-size-title-semantic-secondary-xl: 1.75rem;
    --font-size-title-semantic-secondary-l: 1.5rem;
    --font-size-title-semantic-secondary-m: 1.25rem;
    --font-size-title-semantic-secondary-s: 1.125rem;
    --font-size-title-semantic-secondary-xs: 1rem;
    --font-size-title-semantic-tertiary-xl: 2.75rem;
    --font-size-title-semantic-tertiary-l: 2rem;
    --font-size-title-semantic-tertiary-m: 1.75rem;
    --font-size-title-semantic-tertiary-s: 1.625rem;
    --font-size-title-semantic-tertiary-xs: 1.5rem;

    /* Nested font sizes */
    --font-size-xxs: var(--font-size-title-semantic-primary-xs);
    --font-size-xs: var(--font-size-title-semantic-primary-s);
    --font-size-s: var(--font-size-title-semantic-primary-m);
    --font-size-ms: var(--font-size-title-semantic-primary-m);
    --font-size-m: var(--font-size-title-semantic-primary-m);
    --font-size-ml: var(--font-size-title-semantic-primary-l);
    --font-size-l: var(--font-size-title-semantic-primary-l);
    --font-size-xl: var(--font-size-title-semantic-primary-xl);
    --font-size-xxl: var(--font-size-title-semantic-primary-xxl);
    --font-size-xxxl: var(--font-size-title-semantic-primary-xxl);

    /* Headings */
    --font-size-h1: 2rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-h5: 1.125rem;

    /* Button Text */
    --font-size-button-l: 1.25rem;
    --font-size-button-m: 1rem;
    --font-size-button-s: 0.875rem;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 600;
    --font-weight-extra-bold: 700;

    /* Spacing */
    --spacing-none: 0;
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-xsii: 6px;
    --spacing-s: 8px;
    --spacing-sii: 12px;
    --spacing-siii: 15px;
    --spacing-m: 16px;
    --spacing-mii: 18px;
    --spacing-miii: 20px;
    --spacing-l: 24px;
    --spacing-lii: 28px;
    --spacing-liii: 30px;
    --spacing-xl: 32px;
    --spacing-xlii: 36px;
    --spacing-xxl: 40px;
    --spacing-3xl: 48px;
    --spacing-4xl: 56px;
    --spacing-5xl: 64px;

    /* Padding */
    --padding-none: 0px;
    --padding-xxs: 2px;
    --padding-xs: 4px;
    --padding-s: 8px;
    --padding-m: 16px;
    --padding-l: 24px;
    --padding-xl: 32px;
    --padding-xxl: 40px;
    --padding-3xl: 48px;

    /* Gap */
    --gap-none: 0px;
    --gap-xxs: 2px;
    --gap-xs: 4px;
    --gap-s: 8px;
    --gap-sii: 12px;
    --gap-m: 16px;
    --gap-l: 24px;
    --gap-xl: 32px;
    --gap-xxl: 40px;
    --gap-3xl: 48px;

    /* Border Radius */
    --border-radius-none: 0px;
    --border-radius-xxs: 2px;
    --border-radius-xs: 4px;
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 24px;
    --border-radius-xl: 24px;
    --border-radius-round: 9999px;

    /* Margins */
    --margins-s: 16px;
    --margins-m: 24px;
    --margins-l: 24px;

    /* Gutters */
    --gutter-s: 16px;
    --gutter-m: 24px;
    --gutter-l: 24px;

    /* Columns */
    --columns-s: 8;
    --columns-m: 12;
    --columns-l: 12;

    /* Grid */
    --grid-gutter-s: var(--gutter-s);
    --grid-columns-s: var(--columns-s);
    --grid-gutter-m: var(--spacing-m);
    --grid-columns-m: var(--columns-m);
    --grid-gutter-l: var(--gutter-l);
    --grid-columns-l: var(--columns-l);
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--grid-gutter-m);
  padding: 0;
  list-style-type: none;
}

.col-span-1  { grid-column: span 1 / span 1; }
.col-span-2  { grid-column: span 2 / span 2; }
.col-span-3  { grid-column: span 3 / span 3; }
.col-span-4  { grid-column: span 4 / span 4; }
.col-span-5  { grid-column: span 5 / span 5; }
.col-span-6  { grid-column: span 6 / span 6; }
.col-span-7  { grid-column: span 7 / span 7; }
.col-span-8  { grid-column: span 8 / span 8; }
.col-span-9  { grid-column: span 9 / span 9; }
.col-span-10 { grid-column: span 10 / span 10; }
.col-span-11 { grid-column: span 11 / span 11; }
.col-span-12 { grid-column: span 12 / span 12; }

@media (width >= 768px) {
  .grid-row {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gutter-l);
  }

.md-col-span-1  { grid-column: span 1 / span 1; }
.md-col-span-2  { grid-column: span 2 / span 2; }
.md-col-span-3  { grid-column: span 3 / span 3; }
.md-col-span-4  { grid-column: span 4 / span 4; }
.md-col-span-5  { grid-column: span 5 / span 5; }
.md-col-span-6  { grid-column: span 6 / span 6; }
.md-col-span-7  { grid-column: span 7 / span 7; }
.md-col-span-8  { grid-column: span 8 / span 8; }
.md-col-span-9  { grid-column: span 9 / span 9; }
.md-col-span-10 { grid-column: span 10 / span 10; }
.md-col-span-11 { grid-column: span 11 / span 11; }
.md-col-span-12 { grid-column: span 12 / span 12; }
}


body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 var(--spacing-xl);
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.green-bg {
  background-color: green;
}

.blue-bg {
  background-color: blue;
}

.midnight-blue-bg {
  background-color: #051D3B;
}

.hidden {
    display: none;
}

/* rsm background colour classes */
.rsm-blue-bg {
  background-color: var(--rsm-blue);
}

.rsm-green-bg {
  background-color: var(--rsm-green);
}

.rsm-mid-grey-bg {
  background-color: var(--rsm-mid-grey);
}

.rsm-dark-grey-bg {
  background-color: var(--rsm-dark-grey);
}

.rsm-midnight-blue-bg {
  background-color: var(--rsm-midnight-blue);
}

.rsm-light-grey-bg {
  background-color: var(--rsm-light-grey);
}

.text-grey-bg {
  background-color: var(--text-grey);
}

.op-80 {
  opacity: 0.8;
}

.op-60 {
  opacity: 0.6;
}

.op-40 {
  opacity: 0.4;
}

.op-20 {
  opacity: 0.2;
}